<%- include('./partials/header.ejs') %>


<form method="get" action="/">
    <button type="submit">You must login first to see your personal data!</button>
</form>

<%- include('./partials/footer.ejs') %>
