<%- include('./header.ejs') %>
<h1> Report morning: </h1>
<% if(submitted[0]) { %>
    <p> You have already reported for this morning, reporting will remove the older task </p>
<% } %>
<form method="POST" action = "/behavior/morning">
    <label for="sleepduration">Sleep duration</label>
    <input type="decimal" name="sleepduration" min="0" max="24" />
    <label for="sleepquality">Sleep quality</label>
    <input type="number" name="sleepquality" min="0" max="5" />
    <label for="mood">Mood</label>
    <input type="number" name="mood" min="0" max="5" />
    <input type="date" id="time1" name="time"
       min="2018-01-01" max="2021-12-31">
    <input type="submit" value="Submit!" />
</form>
<script>
document.getElementById('time1').valueAsDate = new Date();
</script>

<h1> Report evening: </h1>
<% if(submitted[1]) { %>
    <p> You have already reported for this evening, reporting will remove the older task </p>
<%console.log(submitted) } %>
<form method="POST" action = "/behavior/evening">
    <label for="studytime">Study duration</label>
    <input type="decimal" name="studytime" min="0" max="24" />
    <label for="sportstime">Sports duration</label>
    <input type="decimal" name="sportstime" min="0" max="24" />
    <label for="mood">Mood</label>
    <input type="number" name="mood" min="0" max="5" />
    <label for="eatingquality">regularity and quality of eating</label>
    <input type="number" name="eatingquality" min="0" max="5" />
    <input type="date" id="time2" name="time"
       value=""
       min="2018-01-01" max="2021-12-31">
    <input type="submit" value="Submit!" />
</form>

<script>
    document.getElementById('time2').valueAsDate = new Date();
</script>
<%- include('./footer.ejs') %>