<h1> test</h1>
<form method="POST">
    <input type="decimal" name="sleepduration" min="0" max="24" />
    <input type="number" name="sleepquality" min="0" max="5" />
    <input type="number" name="mood" min="0" max="5" />
    <input type="submit" value="Submit!" />
</form>

<h2> <%= data %> </h2>
