<%- include('./header.ejs') %>
<form method="get" action="/auth/login">
    <button type="submit">Login</button>
</form>
<form method="get" action="/auth/register">
    <button type="submit">Register</button>
</form>
<form method="get" action="/behavior/reporting">
    <button type="submit">Report daily stuff</button>
</form>
<form method="get" action="/behavior/summary">
    <button type="submit">Summary</button>
</form>


<%- include('./footer.ejs') %>
